/* code */
  .CodeMirror-lines
  {
    font-size: 120%;
  }


/* code preview */
  #cp-app-code-preview
  {
    background: #0c1021;
    color: #f8f8f8;
    border-left: 2px solid #f8f8f8;
  }

/* Table of contents */
  .cp-md-toc
  {
    background: #383838 !important;
  }

  #cp-app-code-preview a
  {
    color: #ff8800;
  }

/* drive overview */
  .cp-body-drive #cp-app-drive-content, #cp-app-drive-tree
  {
    background: #0c1021 !important;
    color: #f8f8f8 !important;
  }

  .cp-body-drive #cp-app-drive-tree .cp-app-drive-tree-docsli > span.cp-app-drive-element-row.cp-leftside-active, .cp-body-drive #cp-app-drive-tree .cp-app-drive-tree-docs li > span.cp-app-drive-element-row.cp-leftside-active, .cp-app-drive-element-active
  {
    background: #383838 !important;
  }

  .cp-app-drive-content-info-box
  {
    background: #444461 !important;
  }
.cp-toolbar, .cp-toolbar-title-value, .cp-toolbar-spinner {
    background: #0c1021 !important;
    color: lightgrey !important;
}
  .cp-app-drive-icon-expcol
  {
    background: #0c1021 !important;
  }
#cp-app-drive-content {
    background: black;
}
.cp-toolbar-userlist-drawer {
 	background: #3F4141;
   color: lightgrey !important;                         
}
